@model WebColumnas.Models.Analisis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Analisis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoCorrida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoCorrida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flujo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flujo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Temperatura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionIni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionIni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrincipiosActivosId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrincipiosActivosId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColumnaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColumnaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
