@model IEnumerable<WebColumnas.Models.Lote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEmision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVcto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamanoObjetivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVcto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamanoObjetivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
