@model WebColumnas.Models.Columna

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Columna</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEnMarcha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEnMarcha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaseEstacionaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaseEstacionaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresionMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresionMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ColumnaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
